/* styel file created by isaac vaugh

===========================================
00: CSS variables
01: color
02: typofraphy
03:
 */


 /* 00: css var */
:root{
    --page-color:hsla(467, 52%, 72%, 0.9);
    --body-color: hsla(20, 69%, 72%, .5);
    --sidebar-color: hsla(200, 69%, 72%, .5);
    --footbar-color: hsla(323, 79%, 44%, 0.836);
    --tab-color: hsla(256, 53%, 59%, 0.63);
    --footbar_height: 10vh;
    --page-position: 80%;
    --page-width:  10%;
    --tab-gap: 4vw;
    --tab-width: 20vw;
    --tab-height: 5vw;
}

 /* 01: color */
html{
    background-color: hsla(167, 52%, 72%, 0.9);
}

body{
    background-color: var();
    color: hsla(70, 100%, 100%, .9);
}

aside.sidebar{
    background-color: var(--sidebar-color);

}

#zen-intro{
    background-color: var(--page-color);
}

#zen-requirements{
    background-color: var(--tab-color);
}


/* TYpOGRAOHY */

@font-face {
    font-family: 'chesse bugre';
    src: url(../fonts/chunkfive.woff);

}


@font-face {
    font-family: 'yarta';
    src: url(../fonts/Yatra_One/YatraOne-Regular.ttf);

}

header h1{
    font-family: 'chesse bugre';
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 1px;
    line-height: 1em;
}
h3 {
    font-family: 'Rancher', cursive;

}
p{
    font-family: 'yarta';
    font-size: small;
}

a{ 
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}




/* 03: layout*/

section.intro header {
    position: fixed;
    top: 0%;
    width: 90%;
    padding: 3%;
    translate: 35%;

}

div.explanation, div.requirements, div.benefits, div.participation{
    position: fixed;
    top: var(--page-position);
    width: var(--tab-width);
    background-image: url(../img/newspaper3.jpg);
    padding: 2%;
    margin: 3%;
    border:  2px solid black;
    transition: all 2s ease-in-out;
    z-index: 5;

}

div.explanation{
    left: 0%;
}
div.requirements{
    left: calc(var(--tab-width) + var(--tab-gap));
}
div.benefits{
    left: calc(2*var(--tab-width) + 2*var(--tab-gap));
}
div.participation{
    left: calc(3*var(--tab-width) + 3*var(--tab-gap));
}

div.explanation h3,div.requirements h3,div.benefits h3, div.participation h3{ 
    text-align: center;
    margin-top: -10%;
    width: var(--tab-width);
    height: var(--tab-height);
    background-color: var(--tab-color);
    border-radius: 10px 50%/50px 10%;
}

aside.sidebar{
    position: absolute;
    font-size: small;
    top: 20%;
    right: 0;
    width: 20%;
    height: 60%;
    z-index: 2;
}

div.extra2{
    position: fixed;
    top: 90%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footbar_height);
    background-color: var(--footbar-color);
    z-index: 6;

}


/* footer*/
/* introduction*/
footer{
    position: fixed;
    text-align: center;
    top: 95%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footbar_height);
    z-index: 7;

}
div.extra1{
    position: fixed;
    top: 0;
    left: 45%;
    width: 30%;
    height: 80%;
    padding: 2%;
    background-image: url(../img/newspaper3.jpg);
    z-index: 1;
    transform: rotate(-20%);
}
section.intro{
    position: fixed;
    top: 0;
    left: 30%;
    width: 30%;
    height: 80%;
    padding: 2%;
    background-image: url(../img/newspaper3.jpg);
    z-index: 3;
    transform: rotate(40%) translate(-100px);
}

/* 04: other declrations*/

h3:hover{
    background-color: rgb(32, 235, 13);
}

div.requirements:active {
    top: 2vh;

}

div.explanation:active,div.requirements:active,div.benefits:active, div.participation:active{ 
    top: 2vh;
    width: var(--tab-width);
    height: var(--tab-height);
}

a:hover{
    font-size: 1.2em;
    text-indent: -100;
}

a:active{
    color:  rgb(168, 110, 23);
}

li::first-letter{
    font-size: larger;

}


p:nth-child(2n){
    background-color: hsla(135, 86%, 44%, 0.26);
}

p:nth-child(3n){
    background-color: hsla(0, 78%, 43%, 0.267);
}


section.intro h3 ~p{
    opacity: 1;
    transition: all 3s ease-in-out;
}



section.intro h3:hover ~p{
    opacity: 0;
    transition: scale(.2)
}


/* animation */
footer{
    position: fixed;
    
    animation: 10s ease-in-out 2s alternate infinite moveback;
}

@keyframes moveback {
    from{transform: translate(-500px,0);}
    30%{transform: translate(-300px,0);}
    50%{transform: translate(00px,0);}
    70%{transform: translate(300px,0);}
    90%{transform: translate(500px,0);}
    
}


h2{
    background-image: linear-gradient(black,blue,teal);
    animation: 10s ease-in-out 2s alternate infinite changecolor ;
}

@keyframes changecolor {

        from{background-image: linear-gradient(black,blue,teal);}
        30%{transform: linear-gradient(teal,black,blue);}
        60%{transform: linear-gradient(blue,teal,black);}
        100%{transform: linear-gradient(black,blue,teal);}
    
}

/* 07: fgancy fetures */
/* section.intro{
    clip-path: circle(70% at 50vw 50vh);
} */

aside.sidebar{
    clip-path: polygon(0 0, 0 70%, 50% 100%, 100% 70%, 100% 0);
}

div#desgin-archives{
display: none;
}
aside.sidebar h3{
    display: none;
}

aside.sidebar ul li{
    list-style: none;
}